<section
    class="hero-section tw-relative tw-pt-20 tw-flex tw-min-h-[100vh] tw-w-full tw-max-w-[100vw] tw-flex-col tw-overflow-hidden max-lg:tw-mt-[100px]"
    id="hero-section-alt"
>

    <!-- Full-screen background image -->
    <div class="tw-absolute tw-inset-0 tw-z-0">
        <img 
            src="assets/images/background/hero-bg.jpg"
            alt="Hero background"  
            class="tw-w-full tw-h-full tw-object-cover tw-z-1"
            loading="eager"
            fetchpriority="high"
            decoding="async"
        />
    </div>

    
    <div    
        class="hero-bg-gradient tw-absolute tw-inset-0 tw-z-10 tw-flex tw-flex-col tw-w-full tw-h-full tw-min-h-[100vh]"
    >
        <!-- Purple gradient accent -->
        <div class="purple-bg-grad reveal-up tw-absolute tw-left-1/2 tw--translate-1/2 tw-top-[10%] tw-h-[120px] tw-w-[120px]"></div> 

        <div class="tw-flex tw-flex-col tw-min-h-[60vh] tw-w-full tw-h-full tw-place-content-center tw-p-[7%] tw-pt-[15%] max-lg:tw-p-6">
            <div class="tw-flex tw-flex-col tw-pl-[10%] tw-mt-[6%] max-lg:tw-pl-[5%]">
                <h2 class="reveal-up tw-text-left tw-text-4xl tw-font-semibold tw-uppercase tw-leading-tight max-lg:tw-text-3xl max-md:tw-text-2xl max-md:tw-leading-snug tw-text-white">
                    <span class=""> Connecting Businesses <br>& Powering Growth </span>
                    <br />
                    <span class="tw-font-thin tw-font-godber tw-text-3xl"> All in one place </span>
                </h2>
                <div class="reveal-up tw-mt-6 tw-max-w-[450px] tw-text-base max-lg:tw-text-sm tw-p-2 tw-text-left tw-text-white max-lg:tw-max-w-ful">
                    ToBeez bridges the gap between Beezlinkers, informal retailers, and brands, creating seamless business connections for smarter trade and collaboration. 
                </div>
                
                <div class="reveal-up tw-mt-10 max-md:tw-flex-col tw-flex tw-gap-4">
                    <a href="#" 
                        class="btn tw-flex tw-gap-3 tw-group tw-bg-white tw-text-black dark:tw-bg-white dark:tw-text-black tw-px-3 tw-py-2 tw-transition-transform 
                        tw-duration-[0.3s] hover:tw-scale-105"
                        >
                        <span>App Store</span>
                        <i class="bi bi-arrow-right group-hover:tw-translate-x-1 tw-duration-300"></i>
                    </a>
                    
                    
                    <a class="btn tw-group max-lg:!tw-w-[160px] tw-flex tw-gap-2 tw-shadow-lg !tw-w-[170px] !tw-rounded-xl !tw-py-4 max-lg:!tw-py-2 tw-transition-transform tw-duration-[0.3s] hover:tw-scale-105"
                        href="#">
                        <span>Play Store</span>
                        <i class="bi bi-arrow-right group-hover:tw-translate-x-1 tw-duration-300"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>